<div class="container">
  <h1><%= @user.first_name %></h1>
  <p><%= @user.last_name %></p>
  <p><%= @user.email %></p>
  <div class="align-buttons">
    <%= link_to users_path do %>
      <div class="btn btn-secondary">
        Back
      </div>
      <% end  %>
    <%= link_to new_user_booking_path(@user) do %>
      <div class="btn btn-primary">
        Book
      </div>
      <% end %>
    </div>
</div>
