<div class="container">
  <h1><%= @user.first_name %></h1>
  <p><%= @user.last_name %></p>
  <p><%= @user.email %></p>
  <%= link_to "Back to home page", root_path %>
  <br>

<%= link_to "Book User", new_user_booking_path(@user) %>
