
<div class="container">
  <div class="showbox">
    <div class="left-box">
    <h1><%= @user.first_name %></h1>
    <p><%= @user.last_name %></p>
    <p><%= @user.email %></p>
  </div>
  <div class="right-box">
    <% if @user.first_name == 'Alfred'  %>
      <%= image_tag("https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/p-Gotham-Sean-Pertwee.jpg", class: "avatar") %>
      <% end %>
  </div>
  </div>
    <div class="align-buttons">
      <%= link_to users_path do %>
        <div class="btn btn-secondary">
          Back
        </div>
        <% end  %>
      <%= link_to new_user_booking_path(@user) do %>
        <div class="btn btn-primary">
          Book
        </div>
        <% end %>
      </div>
  </div>
<%= link_to "See reviews", user_reviews_path(@user) %>
</div>
