<div class="profile-box">
  <div>
    <h2>Hello
      <% if current_user.first_name == nil %>
        <%= current_user.email %>
        <% else %>
        <%= current_user.full_name %></h2>
        <% end %>

      <%if current_user.first_name == nil %>
        <p><%= link_to "Finish your Profile", edit_user_registration_path %></p>
      <% end %>
  </div>
  <p><%= link_to "Edit profile", edit_user_registration_path %></p>
  <%= cl_image_tag @user.photo, height: 200, width: 400, crop: :fill, class: "avatar" %>
</div>
  <p><%= link_to "Edit profile", edit_user_registration_path %></p>

